<footer>
<ul class="homeul" >
    <li>
        <a href="./home">
            HOME PAGE
        </a>
    </li>
    <li>
        <a href="./pastwork">
            ALUMNI
        </a>
    </li>
    <li>
        <a href="./staff">
            OUR STAFF
        </a>
    </li>
    <li><a href="./links">
        FUN LINKS
        </a>
    </li>
    <li>
        <a href="./companyhistory">
        HISTORY
        </a>
    </li>
    <li>
        <a href="./contact">
        CONTACT
        </a>
    </li>
</ul>
</footer>