<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>History</title>
</head>
<body>
    <%- include ('../partials/head.ejs') %>
    <h1>Our History</h1>
    <p class="history" >Founded in 1990, we have been serving young coders for decades. We even taught Steve Jobs! We let our third graders redesign our website every year as their capstone project, so everything you see on this site has been programmed by our own students.</p>
   <div id="history">
    <img class="history" src="https://www.rd.com/wp-content/uploads/2018/09/shutterstock_3837916a-scaled.jpg?resize=700,466"/>
   </div>
</body>
<%- include ('../partials/footer.ejs') %>
</html>